    [OUTPUT]
        Name               es
        Match              {{ namespace }}
        Host               elasticsearch-es-http.elastic-stack.svc.cluster.local
        tls                On
        Port               9200
        tls.verify         Off
        suppress_type_name On
        HTTP_user          elastic
        HTTP_passwd        {{ elastic_passwd }}
        Index              {{ namespace }}